<div style="display: flex; flex-direction: column; align-items: flex-start;">
    <label>Résumé</label>
    <label>
        Consommation pour 100 kms : <span [ngClass]="{
         'consommation-elevee':consommationPour100Km >=7,
         'consommation-faible':consommationPour100Km <=4
        }">{{
            consommationPour100Km |number :'1.0-2' }}</span>
    </label>
    <label>
        Distance parcourue :
        <span [class.haute-distance]="distanceKm > 500" [class.basse-distance]="distanceKm < 100">
            {{ distanceKm | number:'1.0-0':'fr-FR' }}</span> kms
    </label>
    <label>Consommation totale : {{ consommationTotale }}</label>
    <span *ngIf="consommationPour100Km >= 7">
        Attention, votre consommation est élevée
    </span>
    <span *ngIf="consommationPour100Km <= 4">
        Félicitations, votre consommation est faible
    </span>
    <button type="button" (click)="addKms(100)">+100Kms</button>
</div>
<h2>Liste des voyages</h2>
<button type="button" (click)="genererVoyage()">Générer voyage</button>
<table>
    <thead>
        <tr>
            <th>Distance Km</th>
            <th>Consommation pour 100 Km</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let voyage of voyages">
            <td>{{ voyage.distanceKm | number:'1.0-0' }}</td>
            <td>{{ voyage.consommationPour100Km | number:'1.0-1' }}</td>
        </tr>
    </tbody>
</table>

<app-carbon-footprint-form></app-carbon-footprint-form>
<app-carbon-footprint-result></app-carbon-footprint-result>