<h1>{{title}}</h1>
<a routerLink="admin" routerLinkActive="active">Admin</a>
<button type="button" (click)="afficherHeader()">Afficher le header</button>
<button type="button" routerLink="footer" routerLinkActive="active">Afficher le footer</button>
<button type="button" [routerLink]="['sayHello', 'Toto', '40']" routerLinkActive="active">Afficher le footer bis</button>
<button type="button" [routerLink]="['sayHello', 'Titi', '22']" routerLinkActive="active">Afficher le footer ter</button>
<router-outlet></router-outlet>
<!-- <app-header></app-header>


<app-footer></app-footer> -->