<h1>{{title}}</h1>
Random quote = <span [innerHTML]="(randomQuote$ | async)?.h"></span>
<br />
<ng-container *ngIf="randomQuote$ | async as randomQuote">
    a = {{ randomQuote.a}}<br />
    h = {{randomQuote.h}}<br />
    q = {{ randomQuote.q}}<br />
</ng-container>

<a routerLink="admin" routerLinkActive="active">Admin</a>
<button type="button" (click)="afficherHeader()">Afficher le header</button>
<button type="button" routerLink="footer" routerLinkActive="active">Afficher le footer</button>
<button type="button" [routerLink]="['sayHello', 'Toto', '40']" routerLinkActive="active">Afficher le footer
    bis</button>
<button type="button" [routerLink]="['sayHello', 'Titi', '22']" routerLinkActive="active">Afficher le footer
    ter</button>
<router-outlet></router-outlet>
<!-- <app-header></app-header>

<app-footer></app-footer> -->

<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="submit()">
    <input type="text" placeholder="Text1" formControlName="text1"><br />
    <label class="error" *ngIf="(Text1?.touched || false) && Text1?.errors?.['required']">Text1
        obligatoire</label><br />
    <input type="password" placeholder="Password" formControlName="password1"><br />
    <label class="error" *ngIf="(Password1?.touched || false) && Password1?.errors?.['required']">Password
        obligatoire</label><br />
    <label class="error" *ngIf="(Password1?.touched || false) && Password1?.errors?.['minlength']">Taille minum de 8
        requise</label><br />
    Cb1<input type="checkbox" formControlName="checkbox1"><br />
    Cb2<input type="checkbox" formControlName="checkbox2"><br />
    <select formControlName="select1">
        <option *ngFor="let option of ['option1', 'option2', 'option3']" [value]="option">{{option}}</option>
    </select><br />
    Radio1<input type="radio" value="Radio1" formControlName="radio1">
    Radio2<input type="radio" value="Radio2" formControlName="radio1"><br />

    <input type="submit" value="Envoyer" class="btn btn-primary">
</form>