<div style="display: flex; flex-direction: column; align-items: flex-start;" *ngIf="voyageResume">
    <label>Résumé</label>
    <label>
        Consommation pour 100 kms : <span [ngClass]="{
         'consommation-elevee':voyageResume.consommationPour100Km >=7,
         'consommation-faible':voyageResume.consommationPour100Km <=4
        }">{{
            voyageResume.consommationPour100Km |number :'1.0-2' }}</span>
    </label>
    <label>
        Distance parcourue :
        <span [class.haute-distance]="voyageResume.distanceKm > 500"
            [class.basse-distance]="voyageResume.distanceKm < 100">
            {{ voyageResume.distanceKm | number:'1.0-0':'fr-FR' }}</span> kms
    </label>
    <label>Quantité de CO2 totale : {{ voyageResume.quantiteCO2 | number:'1.0-1' }}</label>
    <span *ngIf="voyageResume.consommationPour100Km >= 7">
        Attention, votre consommation est élevée
    </span>
    <span *ngIf="voyageResume.consommationPour100Km <= 4">
        Félicitations, votre consommation est faible
    </span>
</div>


<app-carbon-footprint-form></app-carbon-footprint-form>
<app-carbon-footprint-result></app-carbon-footprint-result>